@import '../../../../sass/style.scss';

.login__forgot-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.35rem;
  a {
    color: rgb(126, 130, 153);
    font-weight: 400;
  }
}
