$color-light: #fff;
$color-mid-grey: #4c4e6f;
$color-dark-grey: #1a1a27;

$font-text: 'Poppins', sans-serif;
$font-size-12: .75em;
$font-size-13: 13px;
$font-size-26: 1.63em;

$radius: .42em;

// $color-dark: #333;
// $color-main: #6c902d;
// $color-main-fill: #5b801c;
// $color-main-focus: #f1c40f;
// $color-main2: #4a3d3e;
// $background-color: #f2f3f5;
// $color-success: #4cd137;
// $color-dark-gray: #b1b2b4;
// $color-light-gray: #e4e5e7;
// $color-grey-font: #666;
// $color-warning: #e1644e;
// $transition: all 0.5s;
// $transition-duration: 0.5s;

// $base-size: 12px;
