@import '../../../../sass/style.react.scss';

.sideNavItems {
  margin-bottom: 2rem;

  &__title {
    color: $color-mid-grey;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .024rem;
    padding-left: 1.5rem;
  }

  &__list-item {
    color: #a2a3b7;
    font-weight: 400;
    font-size: $base-size;
    padding: .8rem .8rem;
    transition: all .2s ease-in-out;
  }
  &__list-item:hover {
    cursor: pointer;
    background-color: $color-dark-grey;
    color: $color-light;

    .sideNavItems__i-angle {
      color: $color-light;
    }
    .sideNavItems__i-item {
      color: #3699FF;
    }
  }

  &__i-item {
    font-size: 1.1rem;
    padding: 0 .5rem;
    color: $color-mid-grey;
    transition: all .2s ease-in-out;
    width: 1.8rem;
    margin-right: .5rem;
  }

  &__i-angle {
    float: right;
    font-size: 1rem;
    color: $color-mid-grey;
    transition: all .2s ease-in-out;
    padding-right: .5rem;
  }

}
